.results {
  display: none;
}

#bad-luck-blues {
  background-color: black;
  color: white;
}

#try-again-later {
  background-color: gray;
  color: black;
}

#good-luck-hurray {
  background-color: yellow;
  color: green;
}